<div class="container">
    <div class="row mt-4">
        <div (click)="backToList()" class="btn btn-secondary">Back</div>
    </div>
    <div class="row mt-4">

        <div class="col-md-6 text-center">
            <img [src]="selectedProduct.images.large_image" alt="">
        </div>
        <div class="col-md-6">
            <h5 class="card-title">{{selectedProduct.name}}</h5>
            <star-rating [rating]="selectedProduct.rating"></star-rating>
            <span class="text-danger font-weight-bold">{{selectedProduct.price | currency:"INR":"symbol"}}</span>
            <del
                class="text-secondary font-weight-light pl-2">{{selectedProduct.printedPrice| currency:"INR":"symbol"}}</del>
            <select name="" id="" class="float-right w-50">
                <option value="1">Select model</option>
                <option value="2">model1</option>
                <option value="3">model2</option>
            </select>
            <p class="card-text mt-2">{{selectedProduct.shortDescription}}</p>
            <div class="row mt-4">
                <a class="btn btn-danger" (click)="productService.addToCart(selectedProduct)">Add to cart</a>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12 text-center text-secondary">
            <h2 class="font-weight-light">Similar products</h2>
        </div>
    </div>
    <div class="row mt-4 mb-4">
        <div class="col-sm-3" *ngFor="let recommendedItem of selectedProduct.recommendedItems">
            <div class="card shadow">
                <img (click)="selectedProduct = recommendedItem" class="card-img-top p-2"
                    [src]="recommendedItem.images.large_image" alt="Card image cap">
                <div class="card-body text-primary">
                    <h5 class="card-title">{{recommendedItem.name}}</h5>
                    <span
                        class="text-danger font-weight-bold">{{recommendedItem.price | currency:"INR":"symbol"}}</span>
                    <del class="text-secondary font-weight-light">
                        {{recommendedItem.printedPrice| currency:"INR":"symbol"}}</del>
                    <star-rating [rating]="recommendedItem.rating"></star-rating>
                </div>
            </div>
        </div>
    </div>
</div>