<div class="container text-muted">
    <div class="row mt-4 text-center">
        <div *ngFor="let tab of tabs; let i=index" [ngClass]="{'font-weight-bold':tab.label==currentTab}"
            class="col col-sm-4 p-2 border-bottom border-secondary">
            <i *ngIf="tab.isComplete" class="fa fa-check-circle-o align-bottom" style="font-size: 1.5rem;"
                aria-hidden="true"></i>
            <span *ngIf="!tab.isComplete" class="align-bottom">{{(i+1)}}.</span>
            {{tab.label}}
        </div>
    </div>
    <div class="row mt-4 bg-white">
        <div class="col px-4 col-sm-8" [ngSwitch]="currentTab">
            <h5 class="py-2 mt-4 border-bottom border-secondary">{{currentTab}}</h5>
            <div *ngSwitchCase="tabsName.shoppingCart" class="scroll mt-4">
                <div class="card shadow mb-2" *ngFor="let item of items; let index=index">
                    <div class="card-body">
                        <div class="row">
                            <div class="col col-sm-2 border border-secondary">Image</div>
                            <div class="col col-sm-6">
                                <span class="text-uppercase font-weight-bold">{{item.name}}</span>
                                <p class="text-truncate" [title]="item.shortDescription">{{item.shortDescription}}</p>
                                <span>{{item.price | currency:"INR":"symbol"}}</span>
                            </div>
                            <div class="col col-sm-3">
                                <div class="align-text-middle text-center py-4 border border-secondary rounded"
                                    style="font-size: 1.5rem;">
                                    <em class="fa fa-minus-circle px-2" (click)="decrementQty(index)"></em>
                                    {{item.quantity}}
                                    <em class="fa fa-plus-circle px-2" (click)="incrementQty(index)"></em>
                                </div>
                            </div>
                            <div class="col col-sm-1">
                                <div class="py-4" style="font-size: 1.5rem;"
                                    (click)="productService.cartList[index].quantity = 1;decrementQty(index)">
                                    <em class="fa fa-trash"></em>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <ng-container *ngSwitchCase="tabsName.shoppingDetails">
                <app-shopping-details (emitToNext)="next($event)"></app-shopping-details>
            </ng-container>
            <ng-container *ngSwitchCase="tabsName.paymentOptions">
                <app-payment-options></app-payment-options>
            </ng-container>
            <div class="row mt-4 mb-4">
                <div class="col col-md-4">
                    <button class="btn btn-secondary px-4 mr-2" type="button"
                        (click)="next()">{{tabsName.paymentOptions==currentTab?'Pay Now':'Next'}}</button>
                    <button class="btn btn-light px-4" type="button" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </div>
        <div class="col col-sm-4">
            <app-summary [isShoppingCartTab]="!(currentTab==tabsName.shoppingCart)" [items]="items"></app-summary>
        </div>
    </div>