<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Image</a>

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 justify-content-end">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/product/list">Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Help</a>
            </li>
            <li class="nav-item">
                <a class="badge badge-secondary pr-3" routerLink="/product/cart">
                    <em class="nav-link fa fa-shopping-cart text-white" style="font-size: 1rem;"></em>
                    <h2 class='badge badge-pill badge-primary badge-pos align-top'> {{cartCount}} </h2>
                    <span class="text-white pl-2">Your cart</span>
                </a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" (input)="updateSearch($event.target.value)"
                placeholder="Search" aria-label="Search">
        </form>
    </div>
</nav>